@model Product

@{
    ViewData["Title"] = "Movie details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Company: </b>
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@Model.CompanyId">
                                @Model.Company.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.Category</p>
                        <p class="card-text"><b>Price: </b>@Model.Price.ToString("c")</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
