@model IEnumerable<Product>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "List of Products";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <!-- <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id" >Edit</a> -->
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Company: </b>@item.Company.Name</p>
                            <p class="card-text"><b>Category: </b>@item.Category</p>
                            <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @if (@Accessor.HttpContext.Session.GetString("UserName") == null)
                                {
                                    <a class="btn btn-success text-white" asp-controller="account" asp-action="login" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart </a>

                                }
                                else
                                {
                                    <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart </a>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@if (@Accessor.HttpContext.Session.GetString("UserName") == "jayshah2002")
{
    <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a asp-controller="Product" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}

